# Flake8 Doc
#   https://flake8.pycqa.org/en/latest/index.html
#
# All options:
#   https://flake8.pycqa.org/en/latest/user/options.html

name: Code Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyflakes
        pip install flake8

    - name: Author and E-Mail check
      env:
        WHITELIST_AMC: ${{ secrets.WHITELIST_AMC }}
      run: |
        python devtools/am-c/amc.py -s

    - name: SCA with pyflakes
      run: |
         pyflakes .

    - name: Lint with flake8
      run: |
        flake8 . --count --ignore=W293,E501,W503,W504 --max-complexity=10 --max-line-length=120 --statistics --show-source